
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/


body {
	margin: 0;
	padding: 0;
	background: #000000 url(images/img03.jpg) repeat-x left top;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #837669;
}

h1, h2, h3 {
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #2B3856;
}

h1 { font-size: 44px; }

h2 { font-size: 26px; }

h3 { }

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
	font-family: "Trebuchet MS", Arial, He	line-height: 240%;
	font-size: 12px;
}


table {
	margin-top: 0;
	line-height: 120%;
	width: 780;
	border-width: 2px;
	border-color:#d4d4d4;;
	border-style: outset;
	border-collapse:collapse;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
}
	
td, th {
	padding: 2px 5px;
}

ul, ol { }

blockquote { }

a { color: #000000; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
	background: url(images/img06.jpg) repeat-x left bottom;
}


#graphDiv
{
    position: absolute;
    width: 800px;
    height: 400px;
    padding: 2px;
    z-index: 1005;
    display: none;
    background-color: #ddd;
    border: 2px solid black;
}


#tradeDiv
{
    position: absolute;
    width: 400px;
    height: 120px;
    padding: 2px;
    z-index: 1005;
    display: none;
    background-color: #FAFAFA;
    border: 2px solid black;
}

#tradeTable {
	margin-top: 1;
	border-width: 2px;
	border-color:#d4d4d4;;
	border-style: outset;
	border-collapse:collapse;
	line-height: 120%;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px; 
	width: 400;
}


/* table-balance-sheet class */
.table-balance-sheet {
	margin-top: 1;
	border-width: 2px;
	border-color:#d4d4d4;
	border-style: outset;
	border-collapse:collapse;
	line-height: 120%;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px; 
	width: 400;
}


.table-balance-sheet th, td,tr
{
	
		border-width: 2px;
		border-color:#d4d4d4;
		padding: 10px 20px;
}

.table-balance-sheet-value
{
		padding: 10px 20px;
		text-align: right;
}

.table-balance-sheet-label
{
		padding: 10px 20px;
		text-align: left;
}

.table-balance-sheet tr:hover td
{
	color: #2B3856;
	background: #E3E4FA;
}

.table-foot {
	border: #d4d4d4;
	padding: 10px 20px;
	border-top: dotted thin;		
}


#table-1 {
	margin-top: 1;
	border-width: 2px;
	border-color:#d4d4d4;;
	border-style: outset;
	border-collapse:collapse;
	line-height: 120%;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px; 
	width: 760;
}

#table-1 th
{
	padding: 10px 20px;
}

#table-1 td,tr
{
	padding: 10px 20px;
	border:#d4d4d4;
	border-width: 2px;
}

#table-1 tr:hover td
{
	color: #2B3856;
	background: #E3E4FA;
}

/* Table Headers and Footers */

.table-head {
	border: #d4d4d4;
	padding: 10px 20px;
	border-bottom: dotted thin;		
}

.table-foot {
	border: #d4d4d4;
	padding: 10px 20px;
	border-top: dotted thin;		
}

.vert-heading1
{
	border: #d4d4d4 ;
	border-right: solid transparent;
	border-left: solid transparent;
}
.vert-heading2
{
	border: #d4d4d4 ;
	border-right: solid transparent;
	border-left: solid transparent;
	border-bottom: solid thin;
	border-bottom: solid thin;
}

.odd
{
	background: #e8edff; 
}

/* Table Format 2 - text */

#table-2 {
	margin-top: 1;
	border-width: 2px;
	border-color:#d4d4d4;;
	border-style: outset;
	border-collapse:collapse;
	line-height: 120%;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px; 
	width: 760;
}

#table-2 th
{
	padding: 10px 20px;
}


#table-2 td,tr
{
	padding: 10px 20px;
	border:#d4d4d4;
	border-width: 2px;
}


/* Header */

#header-wrapper {
	width: 880px;
	margin: 0 auto;
	border-left: 10px solid #FFFFFF;
	border-right: 10px solid #FFFFFF;
	border-top: 10px solid #FFFFFF;
}

#header {
	width: 880px;
	height: 76px;
	margin: 0 auto;
	background: #608F30 url(images/img02.jpg) no-repeat left top;
}

/* Menu */

#menu {
	float: left;
	width: auto;
	height: 51px;
}

#menu ul {
	margin: 0;
	padding: 25px 0 0 10px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	margin-right: 17px;
	padding: 5px 12px;
	text-decoration: none;
	font: 14px Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
}

#menu a:hover { text-decoration: underline; }

#menu .current_page_item a {
	color: #FFFFFF;
}


/* Page */

#page {
	width: 880px;
	margin: 0 auto;
	padding: 30px 0px 0px 0px;
	background: #FFFFFF;
	border-left: 10px solid #FFFFFF;
	border-right: 10px solid #FFFFFF;
	border-bottom: 10px solid #FFFFFF;
	
}

/** LOGO */

#logo {
	height: 250px;
	background: url(images/img01.jpg) no-repeat left top;
}

#logo h1, #logo p {
	float: left;
	margin: 0;
	padding: 0 0 0 20px;
	line-height: normal;
}

#logo h1 { padding-top: 140px; }

#logo h1 a {
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
}

#logo h1 a:hover { text-decoration: underline; }

#logo p {
	padding: 165px 0 0 15px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	color: #B6ACA2;
}

#logo p a {
	text-decoration: none;
	color: #B6ACA2;
}

#logo p a:hover { text-decoration: underline; }

/* Content */

#content {
	float: left;
	width: 880px;
}

/* Post */

.post {
	margin-bottom: 25px;
}

.post .title {
	height: 55px;	
	margin-bottom: 3px;
	padding: 19px 0px 2px 20px;
	background: url(images/img07new.jpg) no-repeat left top;
	color: #000000;
}

.post .entry {
	padding: 25px 10px;
}


/* Footer */

#footer {
	width: 880px;
	margin: 0 auto;
	padding: 0;
	background: #494336 url(images/img05.jpg) no-repeat left top;
	border-left: 10px solid #FFFFFF;
	border-right: 10px solid #649632;
	border-bottom: 10px solid #FFFFFF;
}

#footer p {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	line-height: normal;
	color: #B5ADA5;
}

#footer a {
	color: #B5ADA5;
}
